.organization-nav
  flex none
  width 100%
  height 88px
  overflow hidden
  position relative
  background #DFEEFF
  display flex
  ul
    margin 0 30px
    flex 1
    overflow-x auto
    overflow-y hidden
    white-space nowrap
    li
      display inline-block
      height 88px
      line-height 88px
      padding 0 7px
      font-size 32px
      font-weight 400
      color #007AFF
      vertical-align middle
      &:active
        background ligten(#888888, 35%)
      &.current
        color #888888
      &.arrow
        width 19px
        padding 0
        height 88px
        line-height 88px
        .iconfont
          color #ABABAB
          font-size 19px
.organization-check-all
  margin 20px 0
.organization-scroll
  margin 0 0
  padding 20px 0
  overflow hidden
  flex 1
  background #ffffff
