.meeting-choose-ready-item
  background #ffffff
  .selection-extend
    padding 40px 36px
    text-align left
    background-color #fff
    position relative
    display flex
    z-index 2
    & > input
      flex 1
      height 70px
      line-height 70px
      font-size 28px
      font-weight 400
      padding 0px 20px
      border none
      background rgba(246, 247, 248, 1)
      border-radius 3px
      text-align left 
  .actions
    padding 35px
    .submit
      width 100%
      display block