.layout-page
  position relative
  width 100%
  height 100%
  display flex
  overflow hidden
  .layout-page-left
    width 750px
    flex none
    display flex
    flex-direction column
  .layout-page-right
    display none
    position relative
    flex 1
    height 100%
    display flex
    flex-direction column
    background #F6F7F8
    border-left #E1E8EB 1PX solid
    box-sizing border-box
    overflow hidden
