.sp-actionsheet
  position fixed
  bottom 0
  left 0
  right 0
  top 0
  bottom 0
  background rgba(0, 0, 0, .5)
  z-index 2019
  .button-wrap
    position absolute
    left 20px
    right 20px
    bottom 0
  button
    display block
    width 100%
    border none
    height 110px
    line-height 110px
    background #ffffff
    border-radius 16px
    font-size: 36px
    font-weight: 500
    color #3D94FA
    &:active
      background #f1f1f1
  .button-list
    border-radius 16px
    margin-bottom 20px
    overflow hidden
    button
      border-radius 0
  .button-cancel
    margin-bottom 20px
    
    