.filter-box
  position absolute
  top 0px
  left 0px
  right 0px
  bottom 0px
  background-color rgba(0, 0, 0, 0)
  z-index 999
  .filter-main
    width 80%
    height 100%
    background-color #FFFFFF
    float right
    padding-top 20px
    position relative
    box-shadow -10PX 0 20PX rgba(0, 0, 0, .15)
    .accommodate,.equipment
      padding 16px 10px
      .accommodate-title,.equipment-title
        font-weight 400
        color #888888
        padding 30px 15px
      .accommodate-card,.equipment-card
        display inline-block
        width 240px
        line-height 70px
        background-color #F6F7F8
        border-radius 3px
        text-align center
        margin 15px
      .selection
        background-color #E7F2FF
        color #007AFF
    .operation
      position absolute
      left 0
      right 0
      bottom 0
      display flex
      text-align center
      line-height 80px
      font-size 30px
      .operation-reset
        flex 1
        color #333333
        background-color #F6F7F8
      .operation-sure
        flex 2
        color #FFFFFF
        background-color #007AFF