// - 组件样式
.demo
	height auto
	margin 30px
	.demo-box
		background #ffffff
		margin-bottom 30px
		border rgba(0, 0, 0, 0.15) 1px solid
		box-shadow 1PX 1PX 3PX rgba(0, 0, 0, 0.15)
		.title
			padding 0 45px
			height 120px
			line-height 120px
			border-bottom @border
			font-size 54px
			h2
				font-size 54px
				font-weight 400
				margin 0
				padding 0
		.content
			padding 36px
			box-sizing border-box
			line-height 72px
			height auto
			font-size 42px
		.preview
			padding 30px
			height 260px
			box-sizing: border-box
			.item
				display flex
				justify-content:center
				width 200px
				height 200px
				overflow hidden
				float left
				margin 0 15px
				border #eeeeee 1PX solid
				image
					max-width 100%
					height auto
.input-message
	display block
	height 136px
	line-height 136px
	border none
	margin 30px
	padding 30px
	font-size 54px
	box-sizing border-box