.c-delayed-container
  flex 1
  height 0px
  .delayed-main
    font-weight 400
    border-top 2PX solid #F8F8F8
    padding 36px 0px
    .delayed-top
      font-size 32px
      line-height 45px
      padding 0 36px
      color #888888
      & > .time
        color #FE5249
      & > .see
        color #007AFF
    .delayed-middle
      padding 30px 20px
      & > button,
      & > input
        width calc(100% / 3 - 33px) 
        height 70px
        line-height 70px
        font-size 28px
        font-weight 400
        margin 15px 16px
        border none
        background rgba(246,247,248,1)
        border-radius 3px
        text-align center
      .btn-selection
        background rgba(231,242,255,1)
        color rgba(0,122,255,1)
      .btn-prohibit
        color #b2b2b2
      & > input
        padding 0px 20px
    .delayed-bottom
      padding 80px 36px
      button
        width 100%
        font-size 30px
        font-weight 500
        color #ffffff
        background-color #007AFF
