// 公用样式
@require './reset'
@require './transition'
@require './animate'
@require './iconfont'
@require './layout'
.f-clearfix:after, .f-clearfixli li:after
	display block
	clear both
	visibility hidden
	height 0
	overflow hidden
	content '.'
.f-clearfix, .f-clearfixli li
	zoom 1
.f-ib
	display -moz-inline-stack
	display inline-block
	zoom 1
.f-dn
	display none
.f-fn
	float none !important
	clear left
.f-db
	display block
.f-dib
	display inline-block !important
.f-fl
	float left
.f-fr
	float right
.f-pr
	position relative
.f-prz
	position relative
	zoom 1
.f-oh
	overflow hidden
.f-number
	color $yellow
.f-unit
	color $yellow
.f-time
	color $gray
	font-size 14px
.f-info
	color $blue
.f-success
	color $green
.f-warn
	color $yellow
.f-error
	color $red
