.feedback
  padding 0 30px
  width 100%
  height 100%
  box-sizing border-box
  .title
    color #666666
    font-size 28px
    line-height 40px
    padding-top 38px
    padding-bottom 24px
    &.imgtitle
      padding-top 22px
    span
      padding-left 16px
      font-size 30px
  .con
    background #F6F7F8
    height 250px
    width 100%
    border none
    resize none
    border-radius 3px
    font-size 26px
    padding 24px 30px
    margin-bottom 6px
  .tips
    line-height 22px
    color #FF3030
    font-size 22px
    z-index 2
    display block
    height 22px
  .imglist
    display flex
    padding-top 12px
    padding-bottom 36px
    box-sizing border-box
    width 100%
    .imgitem
      position relative
      width 192px
      height 160px
      margin-right 30px
      &:last-child
        margin-right 0
      img
        height 100%
        width 100%
      .del
        position absolute
        font-size 28px
        right -14px
        top -14px
        color #ADADAD
        background #ffffff
        border-radius 50%
      &.addImg
        line-height 160px
        text-align center
        background #F6F7F8
        font-size 50px
        color #000000
        position relative
        .crop-input
          position absolute
          width 100%
          height 100%
          border none
          top 0
          left 0
          opacity 0
          z-index 9
  .commit
    height 86px
    background rgba(0,122,255,1)
    box-shadow 0px 3px 8px 0px rgba(72,134,255,0.19),0px 4px 18px 0px rgba(72,134,255,0.19)
    border-radius 2px
    text-align center
    line-height 86px
    color #ffffff
    font-size 30px
    margin-top 16px


