.external-add
  width 750px
.contacts-external-add-form
  margin-top 20px
  background-color #ffffff
  .form-item
    display flex
    position relative
    margin 0 35px
    padding 15px 0
    height 110px
    box-sizing border-box
    overflow hidden
    border-bottom #F0F0F0 1px solid
    &:last-child
      border-bottom none
    .tips
      position absolute
      bottom 10px
      right 0
      line-height 22px
      color #FF3030
      font-size 22px
      z-index 2
      display block
      height 22px
      padding-top 8px
    .item-title
      width 130px
      color #333333
      font-size 32px
      line-height 80px
      margin-right 35px
    .input
      height 80px
      line-height 80px
      flex 1
      border none
      outline none
      font-size 32px
      text-align right
.contacts-external-add-actions
  padding 39px 35px
  .button
    height 88px
    background #1AB47F
    text-align center
    line-height 88px
    color #ffffff
    font-size 30px
    border-radius 4PX
    font-weight 400
    &.submit
      background #99CAFF
      margin-bottom 39px
      &:active
        background darken(#99CAFF, 15%)
    &.submit-go
      background #1AB47F
      &:active
        background darken(#1AB47F, 15%)