.my-info-editing
  padding 20px
.formItem
  position relative
  border-bottom 2px solid #F0F4F6
  height 120px
  line-height 120px
  .formTitle
    position absolute
    height 100%
    left 0
    top 0
    line-height 120px
    font-size 30px
    color #333333
  .tips
    position absolute
    line-height 30px
    height 30px
    bottom 10px
    left 0
    color #FF3030
    font-size 22px
    z-index 2
  input
    display block
    height 100%
    line-height 1
    border none
    outline none
    text-align right
    color #888888
    font-size 30px
    width 100%
    box-sizing border-box
    padding-left 200px
  .avatar
    width 80px
    height 80px
    line-height 80px
    font-size 24px
    text-align center
    background rgba(0,122,255,1)
    color #fff
    float right
    border-radius 40px
    overflow hidden
    margin-top 20px
    img
      width 80px
      height 80px
      border-radius 50%
  .upload-head
    width 80px
    height: 80px
    position absolute
    right 0
    opacity 0
  img
    width 80px
    height 80px
    float right
    border-radius 40px
.commit
  height 86px
  background rgba(0,122,255,1)
  box-shadow 0px 3px 8px 0px rgba(72,134,255,0.19),0px 4px 18px 0px rgba(72,134,255,0.19)
  border-radius 2px
  text-align center
  line-height 86px
  color #ffffff
  font-size 30px
  margin-top 86px


