.contacts-group
  margin 0 0
  overflow hidden
  flex 1
  .search-input-box
    background #FFFFFF
    padding 0px 36px 20px 36px
    .search-input
      line-height 40px
      padding 12px 20px
      background #f6f7f8
      border-radius 30px
      cursor text
      span 
        vertical-align middle
        color #A9A9A9
        font-size 28px
        margin-left 12px
      .icon-search
        font-size 32px
        color #A9A9A9
        vertical-align  middle
  .placeholder
    padding-top 120px
    display flex
    flex-direction column
    align-items center
    flex 1
    box-sizing content-box
    .placeholder-img
      width 340px
      height 376px
  .contacts-group-scroll
    flex 1
    margin-top 20px
    overflow auto
    .group-item
      display flex
      margin 0 20px 20px 20px
      height 140px
      padding 20px 30px
      border-radius 6PX
      background-color #fff
      box-sizing border-box
      box-shadow 0 1px 6PX rgba(0, 0, 0, 0.15)
      .group-item-icon
        flex none
        width 100px
        height 100px
        background url('~@/assets/images/contacts/group-circle.png') no-repeat 0 0
        background-size 100% 100%
        box-sizing border-box
        overflow hidden
      .group-item-label
        margin-left 28px
        flex 1
        display block
        overflow hidden
        display flex
        .meta
          margin-top 15px
          flex 1
          .group-name
            margin-right 0
            font-size 32px
            font-weight 400
            color #303030
            line-height 48px
          .count
            font-size 24px
            font-weight 400
            color #B2B2B2
            line-height 36px
      .arrow
        color #ABABAB
        font-size 12px
        text-align right
        width 80px
        line-height 100px
        & > span 
          font-size 32px
          color #007AFF
        