.org-wrap
  display flex
  flex-direction column
  flex 1
  overflow hidden
  .org-scroll
    overflow hidden
    flex 1
    .org-con
      padding 20px 20px 0 20px
      &>.org-card
        box-shadow 0px 4px 11px 0px rgba(54,67,111,0.09)
        border-radius 6px
        margin-bottom 20px
        &>.title
          margin-right 0
          padding-right 20px
          padding-left 20px
