.help-container
  height 100%
  width 100%
  padding 0 30px
  overflow hidden
  .help-title
    line-height 160px
    font-weight bold
    font-size 40px
    color #333
  .help-main
    line-height 90px
    font-size 32px
    color #323232
    .question
      border-bottom  1px solid #EDEDEE
      cursor pointer
    .question:first-child
      border-top 1px solid #EDEDEE