.icon-info-warn
  font-size 38px
  color #fff
.news
  position absolute
  top 5px
  left 32px
  padding 0 6px
  font-size 22px
  background-color #FE5E57
  min-width 32px
  height 32px
  line-height 30px
  border-radius 16px
  color #fff
.my
  .icon-info-warn
    color: #fff