.searchs-content
  display flex
  flex 1
  flex-direction column
  background-color #FFFFFF
  .header
    padding 40px 30px 30px 30px
    display flex
    box-shadow 0PX 4PX 10PX 0PX #6478A00D
    .icons
      line-height 60px
      margin-left 31px
      font-weight 500
      font-size 30px
      color #007AFF
    .input-content
      flex 1
      height 62px
      line-height 62px
      background #F6F7F8
      border-radius 30px
      color #A9A9A9
      font-size 28px
      padding 0 20px
      cursor text
      display flex
      .icon-search
        font-size 32px
        vertical-align middle
        margin-right 10px
      input
        flex 1
        border none
        background #F6F7F8
        line-height 1
  .main
    flex 1
    display flex
    flex-direction column
    font-size 28px
    width 100%
    .search-way
      padding 0 30px
      .search-way-item
        border-bottom 1PX solid #DDE4E8
        height 98px
        line-height 98px
        color #303030
        font-size 30px
      .by-people,.by-org
        width 100%
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
    .searchs-operation
      padding 40px 30px 30px
      i
        float right
        font-size 28px
    .keyword-list
      flex 1
      padding 0px 10px
      .list-content
        display inline-block
        font-size 28px
        padding 15px 20px
        margin 10px 10px
        border 1PX solid #F0F4F6
    .searchs-list
      .list-content
        padding 30px
        font-weight 400
        color #333333
        box-shadow 0px 1px 0px 0px rgba(240,244,246,1)
    .noSearchsRecord
      text-align center
      font-size 26px
      color #A9A9A9
      margin-top 40px
