flex-version = flex

$easeOutFunction = cubic-bezier(0.23, 1, 0.32, 1)

$easeInOutFunction = cubic-bezier(0.445, 0.05, 0.55, 0.95)

$font-family = arial, sans-serif

// color

$blue = #009FF0
$yellow = #FF9004
$gray = #A7A7A7
$orange = #FF6C04
$green = #10AF7E
$red = #FF7362
$red-hover = #EC6352
$gray-hover = #949494

$font-yellow = $orange
$font-000 = #000
$font-333 = #333
$font-666 = #666
$font-96 = #969696
$font-5f = #5F5F5F
$font-a7 = #a7a7a7

// border
$border-gray-color = #f8f8f8