.sp-menu
  position relative
  height 100%
  display flex
  justify-content center
  align-items center
  z-index 999
  & > a
    flex 1
    height 98px
    color #979797
    box-sizing border-box
    text-align center
    display flex
    flex-direction column
    justify-content center
    padding-top 10px
    font-weight 500
    &:active
      background rgba(0, 0, 0, .08)
    &.current
      color #007AFF
    .iconfont
      font-style normal
      font-size 45px
      line-height 45px
    .title
      height 30px
      line-height @height
      font-size 20px
      margin-top 6px
