.contacts-check-all
  position relative
  .van-checkbox__icon
    display none
  .iconfont 
    font-size 30px
  .icon-arrow-top, .icon-arrow-bottom
    position absolute
    padding-right 30px
    padding-left 100px
    right 0
  .icon-clear
    margin-right: 15px
.top-contacts-list
  height 100%
  overflow hidden
  .contacts-section
    background #ffffff