.meeting-choose-service-item
  background #ffffff
  .input-extend,.selection-extend
    padding 40px 10px 60px 36px
    text-align left
    background-color #fff
    position relative
    z-index 2
    & > input,
    & > button
      width 205px
      height 70px
      line-height 70px
      font-size 28px
      font-weight 400
      margin-right 26px
      margin-top 30px
      border none
      background rgba(246, 247, 248, 1)
      border-radius 3px
    .btnSelection
      background rgba(231, 242, 255, 1)
      color rgba(0, 122, 255, 1)
    & > input
      padding 0px 20px
      text-align center
  .actions
    padding 35px
    .submit
      width 100%
      display block