.response-container
  flex 1
  height 0px
  display flex
  flex-direction column
  height 100%
  .response-box
    padding 20px
    background-color #F6F7F8
    border-top 1PX solid #E1E8EB
    position relative
    flex 1
    flex-direction column
    display flex
    .response-info
      flex 1
      height 0px
      display flex
      flex-direction column
      overflow scroll
      .van-collapse-item
        margin-bottom 20px
        .van-collapse-item__title
          .title
            .number
              font-size 28px
              color #888
              margin-left 5px
        .van-collapse-item__content
          padding 0
          .response-man-box
            overflow auto
            background #ffffff
            box-sizing border-box
            .member-item
              display inline-block
              width 20%
              .item-box
                margin 20px 0
                padding 0 10px
                text-align center
                box-sizing border-box
                overflow hidden
                .avatar
                  font-size 28px
                  width 80px
                  height 80px
                  line-height 80px
                  overflow hidden
                  border-radius 40px
                  background #3296FB
                  display inline-block
                  vertical-align top
                  color #fff
                  text-align center
                  img
                    width 80px
                    height 80px
                    border-radius 50%
                .name
                  width 100%
                  padding 0
                  font-size 26px
                  line-height 40px
                  height 40px
                  color #888
                  overflow hidden
                  text-overflow ellipsis
                  white-space nowrap
                  font-weight 500
                  padding-top 5px
            .refuse
              width 100%
              .item-box2
                width 100%
                display flex
                margin 20px 0
                padding 0 10px
                box-sizing border-box
                overflow hidden
                .head
                  flex none
                  .avatar
                    width 80px
                    height 80px
                    font-size 28px
                    line-height 80px
                    overflow hidden
                    border-radius 40px
                    background #3296FB
                    vertical-align top
                    margin 0 auto
                    color #fff
                    text-align center
                .info
                  flex 1
                  margin 0px 20px
                  .name
                    font-size 28px
                    font-weight 500
                    color #333
                    line-height 42px
                    margin 10px 0
                  .reason
                    font-size 30px
                    line-height 40px
                    font-weight 400
                    margin 10px 0
                  .time
                    font-size 24px
                    color #B2B2B2
                    line-height 36px
                    margin 10px 0